<div class="standalone-bottomline">
  <div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
    <span class="yotpo-stars">
      <span class="yotpo-icon yotpo-icon-star rating-star pull-left">{% render '_ss_icon_star' %}</span>
      <span class="yotpo-icon yotpo-icon-star rating-star pull-left">{% render '_ss_icon_star' %}</span>
      <span class="yotpo-icon yotpo-icon-star rating-star pull-left">{% render '_ss_icon_star' %}</span>
      <span class="yotpo-icon yotpo-icon-star rating-star pull-left">{% render '_ss_icon_star' %}</span>
      <span class="yotpo-icon yotpo-icon-half-star rating-star pull-left">{% render '_ss_icon_star' %}</span>
  </div>
</div>