<div data-oke-reviews-widget data-oke-reviews-product-id="shopify-
    {%- if product.tags contains 'varietyPack' -%}
        6921264365736
    {%- else -%}
        {{- product.id -}}
    {%- endif -%}">
</div>
