<!-- BEGIN SMARTRR SNIPPET -->{% render 'smartrr-account' %}<!-- END SMARTRR SNIPPET -->
<div class="contact ss-customer">
  <div class="ss-container">
    <header>
      <h1 class="h1 text-center" tabindex="-1">
        My Spritz
      </h1>
    </header>
    <div class="ss-customer-login ss-account-page">
      <div class="top_titles-wrapper d-flex flex-a-center">
        <div class="top_title notchouter-btn order active">
          <div class="notchinner-btn">
            <a href="#order" class="polygone-btn">orders</a>
          </div>
        </div>
        <div class="top_title notchouter-btn subscriptions">
          <div class="notchinner-btn">
            <a href="#subscription" class="polygone-btn">subscriptions</a>
          </div>
        </div>
        <div class="top_title notchouter-btn addresses">
          <div class="notchinner-btn">
            <a href="#address" class="polygone-btn">addresses</a>
          </div>
        </div>
      </div>

      <div id="order" class="account-content">
        <h3 class="body-1 ss--secondary-font h3">Active Orders</h3>
        <div class="active_orders account-content-inner">
          <div class="order-details">
            <div class="d-flex flex-a-center text-center order-details-header">
              <div>
                <h6 class="acumin-pro-bold">Order Placed</h6>
                <p class="acumin-pro">June 24, 2021</p>
              </div>
              <div>
                <h6 class="acumin-pro-bold">TOTAL</h6>
                <p class="acumin-pro">$26.00</p>
              </div>
              <div>
                <h6 class="acumin-pro-bold">SHIPPED TO</h6>
                <p class="acumin-pro">MY ADDRESS</p>
              </div>
              <div>
                <h6 class="acumin-pro-bold order_id">Order # 4098571098</h6>
              </div>
            </div>

            <div class="account_product">
              <p class="acumin-pro-bold">ESTIMATED DELIVERY: JULY 17, 2021</p>
              <div class="d-flex flex-j-between">
                <div class="left-part">
                  <div class="account_product-single-product d-flex flex-a-center">
                    <picture class="product-img">
                      <img src="https://cdn.shopify.com/s/files/1/0581/1909/4440/files/Lemonade_Medium_68ae0771-61b2-4110-9a06-8d21efa4cbb4_50x.png?v=1628120387"
                           alt="{{product.title}} from {{shop.name}}" class="lazyload margin-auto w-100 d-block h-auto" />
                    </picture>
                    <div class="single-product-detail">
                      <p class="acumin-pro p_title">Lemonade - 1 x 4 Pack</p>
                      <p class="acumin-pro">Purchase: Onetime</p>
                    </div>
                  </div>
                </div>
                <div class="right-part">
                  <div class="notchouter-btn track_package">
                    <div class="notchinner-btn">
                      <a href="#" class="polygone-btn">TRACK PACKAGE</a>
                    </div>
                  </div>
                  <div class="notchouter-btn buy_it_again">
                    <div class="notchinner-btn">
                      <a href="#" class="polygone-btn">BUY IT AGAIN</a>
                    </div>
                  </div>
                  <!-- <a href="#" class="acumin-pro text-center cancel_delivery">Cancel Delivery</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>