<section class="js-age-gate age-gate">
  <div class="age-gate__inner">
    <div>
      <h1 class="age-gate__heading">ARE YOU OLD ENOUGH TO SPRITZ?</h1>
      <p class="age-gate__sub-heading">Must be 21 or older to enter.</p>
      <div class="d-flex flex-a-center flex-j-center age-gate__actions">
        
        <div class="notchouter-btn age-gate__yes-notchouter">
          <div class="notchinner-btn background-ss-pink-light">
            <button class="js-age-gate-close age-gate__yes button polygone-btn">Yes</button>
          </div>
        </div>
        
        <div class="notchouter-btn age-gate__no-notchouter">
          <div class="notchinner-btn background-white">
            <button class=" button polygone-btn age-gate__no">No</button>
          </div>
        </div>
      
      </div>
    </div> 
  </div>
</section>